[submodule "plugins/migration"]
	path = plugins/migration
	url = git://github.com/jrbasso/migrations.git
[submodule "plugins/tiny_mce"]
	path = plugins/tiny_mce
	url = git://github.com/CakeDC/TinyMCE.git
[submodule "plugins/localized"]
	path = plugins/localized
	url = git://github.com/cakephp/localized.git
[submodule "plugins/mailer"]
	path = plugins/mailer
	url = git://github.com/CauanCabral/Mailer.git
[submodule "plugins/locale"]
	path = plugins/locale
	url = git://github.com/CauanCabral/CakePHP-Locale-Behavior.git
