# Untracked files:
.buildpath
.settings
.project
*.bak
Config/bootstrap.local.php
Config/database.php
tmp/cache/models/*
tmp/cache/persistent/*
tmp/cache/views/*
tmp/sessions/*
tmp/tests/*
tmp/logs/*
