[submodule "Plugin/Locale"]
	path = Plugin/Locale
	url = git://github.com/radig/locale.git
[submodule "Plugin/TinyMCE"]
	path = Plugin/TinyMCE
	url = git://github.com/CakeDC/TinyMCE.git
[submodule "Plugin/Localized"]
	path = Plugin/Localized
	url = git://github.com/cakephp/localized.git
[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = git://github.com/cakephp/debug_kit.git
[submodule "Plugin/Migrations"]
	path = Plugin/Migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "Plugin/TwitterBootstrap"]
	path = Plugin/TwitterBootstrap
	url = git://github.com/radig/TwitterBootstrap.git
[submodule "Plugin/Mailer"]
	path = Plugin/Mailer
	url = git://github.com/radig/mailer.git
[submodule "Plugin/Search"]
	path = Plugin/Search
	url = git://github.com/CakeDC/search.git
[submodule "Plugin/Datasources"]
	path = Plugin/Datasources
	url = git://github.com/cakephp/datasources.git
[submodule "Plugin/PagSeguro"]
	path = Plugin/PagSeguro
	url = git://github.com/radig/pagseguro.git
