[submodule "Plugin/Migrations"]
	path = Plugin/Migrations
	url = git://github.com/jrbasso/migrations.git
[submodule "Plugin/Locale"]
	path = Plugin/Locale
	url = git://github.com/radig/locale.git
[submodule "Plugin/TinyMCE"]
	path = Plugin/TinyMCE
	url = git://github.com/CakeDC/TinyMCE.git
[submodule "Plugin/Localized"]
	path = Plugin/Localized
	url = git://github.com/cakephp/localized.git
