/** Layout basics **/
#header { margin-bottom: 2px; border-bottom: 1px solid #ccc; }

/** Scaffold View **/

a {
	color: #3D5285;
}


h1, h2 {
	color: #639920;
}
th a, td a, td a:hover, li a, li a:hover {
	color: #3D5285;
}


dt, dd		{ line-height: 3em; }
dl .altrow	{ background: #F4F4F4; }
dt			{ padding-left: 4px; }
dd			{ margin-left:  30em; margin-top: -3em; vertical-align: top;}

/** Glyphs **/
[class^="glyph-"],
[class*=" glyph-"]	{ margin-right: 3px; }
td a				{ margin-right: 10px; }

/** Datepicker **/
.datepicker td.today,
.datepicker td.today:hover {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #FFFF77, #FFFF77);
	background-image: -ms-linear-gradient(top, #FFFF77, #FFFF77);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFF77), to(#FFFF77));
	background-image: -webkit-linear-gradient(top, #FFFF77, #FFFF77);
	background-image: -o-linear-gradient(top, #FFFF77, #FFFF77);
	background-image: linear-gradient(top, #FFFF77, #FFFF77);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF77', endColorstr='#FFFF77', GradientType=0);
	border-color: #FFFF77 #FFFF77 #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #333;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td.today:hover,
.datepicker td.today:hover:hover,
.datepicker td.today:active,
.datepicker td.today:hover:active,
.datepicker td.today.today,
.datepicker td.today:hover.today,
.datepicker td.today.disabled,
.datepicker td.today:hover.disabled,
.datepicker td.today[disabled],
.datepicker td.today:hover[disabled]	{ background-color: #FFFF77; }

/** Forms **/
.fullWidth { width: 100%;}
.loginSubmit { background-color: transparent; margin: 10px 0;}
.vspace { margin: 10px auto;}
.required label { color: #c00; font-weight: bold;}
.required label:after { content: ' *';}

/** ERROR **/
.error			{ margin: 0 auto; }
.error-msg		{ font-size: 240pt; font-family:arial; font-weight: bold; color:#1A5D9C; margin-top:5%; height:170px; }

#header {
	padding: 5px 8px;
}

#header h1 {
	font-size: 1.8em;
}

#header h1 a {
	color: #639920;
}

#header h1 a:hover {
	color: #7BB337;
}

.login {
}

h1 a:hover {
	text-decoration: none;
}

.intro p {
	font-size: 1.16em;
	line-height: 20px;
}

#footer { 
	text-align: center;
}

