#menu {
	display: block;
	width: 100%;
	background-color: #368636;
	list-style: none;
	height:30px;
	margin: 0;
}
#menu li {
	display: block;
	float: left;
}
#menu li a, #menu li a:hover {
	display: block;
	padding: 0 5px;
	margin: 0;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	text-decoration: none;
}
#menu li a:hover, #menu li a.current {
	background-color: #fff;
	color: #507AAA;
}